[Desktop Entry]
Type=Service
MimeType=image/*
Actions=SplitHorizontally;SplitHorizontallyDVD
X-KDE-Submenu=Image Scriptions
Icon=image


[Desktop Action SplitHorizontally]
Name=Split Horizontally
Icon=tag-recents
Exec=convert %U -crop 50%x100% +repage %U.jpg

[Desktop Action SplitHorizontallyDVD]
Name=Split DVD Cover
Icon=tag-recents
Exec=convert %U -crop 53%x100% +repage %U.jpg
