[Desktop Entry]
Type=Service
MimeType=image/*
Actions=SplitHorizontally;SplitHorizontallyDVD;ConvertToJpg;ConvertToPng
X-KDE-Submenu=Image Scripts
Icon=image


[Desktop Action SplitHorizontally]
Name=Split Horizontally
Icon=tag-recents
Exec=magick %U -crop 50%x100% +repage %U.jpg

[Desktop Action SplitHorizontallyDVD]
Name=Split DVD Cover
Icon=tag-recents
Exec=magick %U -crop 53%x100% +repage %U.jpg

[Desktop Action ConvertToJpg]
Name=Convert to JPG
Icon=tag-recents
Exec=magick %U %U.jpg

[Desktop Action ConvertToPng]
Name=Convert to PNG
Icon=tag-recents
Exec=magick %U %U.png
